@media screen {
  html.archive2-paper-review #mode-ctrl { display: none !important; }
  html.archive2-paper-review body { background: #eef0f3 !important; background-image: none !important; padding-top: 10px !important; }
  html.archive2-paper-review #print-area { margin-top: 0 !important; }
}
